.products__container {
  width: 100vw;
  min-height: 100vh;
  background-color: #f5f5f5;
}
.mobile__search-local{
    width: 500px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.icon{
  width: 100%;
  display: flex;
  align-items: center;
  border: 1px solid gray;
  border-radius: 4px;
}

.searchbar__container input,
.icon input {
  width: 80%;
  background-color: transparent;
  outline: none;
  border: none;
  color: #000;
}

.mobile__search-local button {
  font-size: 0.875rem;
  line-height: 1rem;
  text-transform: uppercase;
  font-weight: 500;
  border-radius: 4px;
  padding: 12px 16px;
  background-color: #3182ce;
  color: #fff;
}
.products__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 1.5rem;
  width: 100%;
  justify-content: center;
}

.sort-bar {
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

label {
  font-weight: bold;
  margin-right: 10px;
}

select {
  padding: 8px 20px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.mobile__search-local {
  display: none;
}
.products__wrap{
    padding-top: 120px;
  }

@media (max-width: 768px) {
  .search__form {
    display: none;
  }
  .mobile__search-local {
    width: 100%;
    margin: 80px 0 20px;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
  }
  .icon {
    padding: 10px;
  }
  .products__wrapper {
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  }
 .products__wrap{
    padding: 50px;
  }
}
